.stars {
    float:left;
}
.stars:not(:checked) > input {
    position:absolute;
    top:-10000px;
    
}

.stars:not(:checked) > label {
    float:right;
    width:35px;
    padding:0;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    
}

.stars:not(:checked) > label:before {
    content: '★ ';
}

.stars > input:checked ~ label {
    color: red;
    
}

.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label {
    color: red;
    
}

.stars > input:checked + label:hover,
.stars > input:checked + label:hover ~ label,
.stars > input:checked ~ label:hover,
.stars > input:checked ~ label:hover ~ label,
.stars > label:hover ~ input:checked ~ label {
    color: red;
    
}
.stars > label:active {
    position:relative;
    top:2px;
    left:2px;
}